<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Borsflix</title>
  <!-- link CSS -->
  <link rel="stylesheet" href="css/style.css">
  <!-- -/link CSS -->
  <!-- CDN googlefonts - Martel Sans -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Martel+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
  <!-- /CDN googlefonts - Martel Sans -->
  <!-- CDN fontawesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
  <!-- /CDN fontawesome -->
  <!-- CDN VUE JS -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  <!-- CDN /VUE JS -->
  <!-- CDN AXIOS JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>
  <!-- CDN /AXIOS JS -->
  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="57x57" href="img/favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="img/favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="img/favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="img/favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="img/favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="img/favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="img/favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="img/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="img/favicon/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <!-- /Favicon -->



</head>
<body>
  <div class="wrapper" id="root">
    <header>
      <div class="logo-box">
        <h1>NEFFLIS</h1>
      </div>
      <div class="search-box">
        <input id="movie-search" v-model="searchQuery" @keyup.enter = "searchMovie" type="text" placeholder="- Che cosa vuoi guardare oggi? -">
      </div>
    </header>
    <main>
      <div class="container">
        <div class="template" v-for ="movie in movies">
          <div class="poster-box">
            <img class="poster" v-if= "movie.poster_path==null" src="img/notavailable.png" alt="immagine non disponibile">
            <img class="poster" v-else :src="'https://image.tmdb.org/t/p/w300' + movie.poster_path" alt="Locandina del film">
          </div>
          <div class="info-box">
            <p class="title"><strong><em>Titolo: </em></strong>{{movie.title}}</p>
            <p class="original-title"><strong><em>Titolo Originale: </em></strong>{{movie.original_title}}</p>
            <p class="lang"><strong><em>Lingua: <img v-if="movie.original_language =='en'? movie.original_language = 'us' : movie.original_language = movie.original_language " class="flag" :src="'https://www.countryflags.io/' + movie.original_language + '/flat/16.png'"></em></strong>{{movie.original_language}}</p>
          </div>
          <div class="rating-box">
            <p v-if="movie.vote_average == '0'"><strong><em>Voto Medio: </em></strong></p>
            <p v-if="movie.vote_average == '1'"><strong><em>Voto Medio: </em></strong><i class="fas fa-star"><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></i></p>
            <p v-if="movie.vote_average == '2'"><strong><em>Voto Medio: </em></strong><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></p>
            <p v-if="movie.vote_average == '3'"><strong><em>Voto Medio: </em></strong><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></p>
            <p v-if="movie.vote_average == '4'"><strong><em>Voto Medio: </em></strong><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></p>
            <p v-if="movie.vote_average == '5'"><strong><em>Voto Medio: </em></strong><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
            <p v-if="movie.overview==''"><strong>Sinossi: </strong><small>Non disponibile!</small></p>
            <p v-else><strong><em>Sinossi: </em></strong><small>{{movie.overview}}</small></p>
          </div>
        </div>
        <div class="template" v-for ="serie in tvSeries">
          <div class="poster-box">
            <img class="poster" v-if= "serie.poster_path==null" src="img/notavailable.png" alt="immagine non disponibile">
            <img class="poster" v-else :src="'https://image.tmdb.org/t/p/w300' + serie.poster_path" alt="Locandina della serie">
          </div>
          <div class="info-box">
            <p class="title"><strong><em>Nome Serie: </em></strong>{{serie.name}}</p>
            <p class="original-title"><strong><em>Nome Originale: </em></strong>{{serie.original_name}}</p>
            <p class="lang"><strong><em>Lingua: <img v-if="serie.original_language =='en'?serie.original_language = 'us' : serie.original_language = serie.original_language " class="flag" :src="'https://www.countryflags.io/' + serie.original_language + '/flat/16.png'"></em></strong>{{serie.original_language}}</p>
          </div>
          <div class="rating-box">
            <p v-if="serie.vote_average == '0'"><strong><em>Voto Medio: </em></strong></p>
            <p v-if="serie.vote_average == '1'"><strong><em>Voto Medio: </em></strong><i class="fas fa-star"><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></i></p>
            <p v-if="serie.vote_average == '2'"><strong><em>Voto Medio: </em></strong><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></p>
            <p v-if="serie.vote_average == '3'"><strong><em>Voto Medio: </em></strong><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></p>
            <p v-if="serie.vote_average == '4'"><strong><em>Voto Medio: </em></strong><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i></p>
            <p v-if="serie.vote_average == '5'"><strong><em>Voto Medio: </em></strong><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
            <p v-if="serie.overview==''"><strong>Sinossi: </strong><small>Non disponibile!</small></p>
            <p class="serie-text" v-else><strong><em>Sinossi: </em></strong><small>{{serie.overview}}</small></p>
          </div>
        </div>
      </div>
    </main>
  </div>
  <!-- main script -->
  <script src="js/script.js" charset="utf-8"></script>
  <!-- /main script -->
</body>
</html>
